/* navbar */
.navbar-brand img {
    height:70px;
    margin-left:20px
}
nav {
    background-color: black;
    background-attachment: fixed;
    font-size: 20px;
}
.navbar a {
    color:white
}
.navbar a:hover {
    color:whitesmoke
}
.nav-item {
    
    color:white
}
/* home */
.carousel-item img {
    width:100%;
    height:45vw
}
body {
    font-family:'Courier New', Courier, monospace;
    line-height: 30px;;
    font-weight:lighter;
}
.cards, .about {
    background-color: rgb(0, 0, 0);
    margin-left:auto;
    margin-right:auto;
    color:white
}
.card {
    background-color: black;
    color:white;
    width:100%;
    border:1px solid white;
    margin-left:7.8vw
}
@media screen and (max-width:1020px) {
    .card-content {
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.btn {
    background-color: black;
    border-right:0px;
    border-left:0px;
    border-top:0px;
    border-color: white;
}

@media screen and (min-width:420px) and (max-width:1100) {
    .card-content {
     
   
        margin-left:800px
    }
}
.cards .row {
    margin-left: auto;
    margin-right: auto;
}
/* about */
.about img {
    display:block;
    width:30vw;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px
}
.about h6 {
    height:100%;
    margin-left:100px;
    font-size: 17px;
    margin-top:100px
}

@media screen and (max-width:1200px){
    .about h6 {
        margin-left:40px;
        margin-top:60px
    }
}
@media screen and (max-width:991px){
    .about h6 {
        margin-left:0px;
        margin-top:60px
    }
}
.about {
    height:400px
}
.about-intro {
    background-color: black;
    height:600px
}
.all {

    align-items: center;
    color:white;
    margin-top: 30px;
    margin-right:65px;
  
   
   
    
}  
/* contact */
.contact {
    background-color:black;
    color:white;
    width:100%
}
.contact img, .contact a {
    height:auto;
    width:15vw;
    
    color:white
}
.contact a:hover {
    color:rgb(247, 222, 226)
}
.social {
    margin-top: 50px;
}
/* footer */
footer {
    background-color: black;
    color:white;
    margin-top:0px
    
   
}
.footer-content {
    border-top:1px solid white;
}
footer a {
    
    color:white
}
